@font-face {
  font-family: Lato;
  src: url(../Fonts/Lato-LightItalic.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas: "header header" "main main" "footer footer"; }

.menu {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #1a3c40;
  justify-content: space-between;
  align-items: center;
  margin: 0; }
  .menu div a h1 {
    font-size: 40px;
    display: inline-block;
    color: white;
    margin: 10px; }
  .menu div a img {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 15px; }
  .menu div ul {
    display: flex;
    list-style: none;
    align-items: center; }
    .menu div ul li {
      margin: 20px; }
      .menu div ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px; }
        .menu div ul li a:hover {
          color: black;
          transition: 0.5;
          text-shadow: none; }
      .menu div ul li:hover ul {
        display: block; }
      .menu div ul li ul {
        display: none;
        background-color: #144d53;
        border-radius: 15%; }
        .menu div ul li ul li {
          margin: 5px; }
    .menu div ul ul {
      position: absolute;
      display: none; }

.bienvenida {
  background-color: #307672;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white; }
  .bienvenida h2 {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px; }
  .bienvenida img {
    width: 30px;
    height: 30px;
    display: inline-block; }

.footer {
  background-color: #1a3c40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: footer; }
  .footer img {
    width: 30px;
    height: 30px; }
  .footer div p {
    font-size: 18px;
    text-align: right;
    font-weight: bold;
    padding: 10px;
    color: white; }
  .footer div a img {
    width: 30px;
    height: 30px; }

.logo img {
  display: inline-block;
  position: fixed;
  bottom: 80px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 15%; }

.tiposDeTrabajos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px; }

.grid-trabajos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "div div" "div div";
  margin: 10px; }
  .grid-trabajos div {
    margin: 20px; }
    .grid-trabajos div h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      background-color: #144d53;
      color: white; }
    .grid-trabajos div p {
      text-align: justify; }

.imagenesTrabajos {
  border-radius: 10%;
  width: 200px;
  height: 150px;
  margin: 20px 10px 20px 10px; }

.sitios {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sitios div a {
    display: block;
    background-color: #307672;
    color: white;
    text-decoration: none;
    margin: 20px 0px 30px 40px;
    font-size: 18px;
    font-weight: bold; }

.sitiosTitulo {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: #307672; }

.introduccionDestinos, .ciudadesParaConocer {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  margin-bottom: 20px; }

.ciudadesParaConocer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #307672;
  color: white;
  padding: 5px; }

.articulosDestinos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px; }
  .articulosDestinos h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #307672;
    color: white; }
  .articulosDestinos div {
    width: 60%; }

.articulosDestinos--modificador {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  flex-direction: row-reverse; }
  .articulosDestinos--modificador h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #307672;
    color: white; }
  .articulosDestinos--modificador div {
    margin-left: 50px; }

.imagenesDestinos {
  border-radius: 10%;
  width: 400px;
  height: 220px; }

.introduccion {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-bottom: 20px; }
  .introduccion iframe {
    border-radius: 20%;
    width: 500px;
    height: 250px; }
  .introduccion div {
    width: 50%;
    text-align: justify; }
    .introduccion div h3 {
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 10px;
      color: #1a3c40; }

.razones h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: #307672; }

.razones div div article {
  border: solid 1px black;
  padding: 10px;
  margin: 20px 0px 7px 25px;
  display: inline-block;
  height: 450px;
  width: 400px;
  overflow: hidden;
  border-radius: 10%;
  text-align: center;
  font-size: 90%;
  line-height: 1;
  background-color: #e4eddb; }
  .razones div div article h3 {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px; }
  .razones div div article img {
    height: 50%;
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-bottom: 5px; }
  .razones div div article p {
    text-align: justify; }
  .razones div div article a {
    text-decoration: none;
    background-color: #144d53;
    color: aliceblue;
    padding: 5px;
    font-weight: bold;
    border-radius: 10%;
    display: inline-block;
    margin: 15px; }

.visas > div h2 {
  font-size: 24px;
  text-align: center;
  margin: 10px 0px 10px 0px;
  color: #1a3c40; }

.visas > div p {
  text-align: justify;
  margin: 0px 20px 30px 10px; }

.visas > div ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 10px; }
  .visas > div ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #144d53;
    padding: 5px; }
    .visas > div ul li a:hover a {
      color: black;
      transition: 0.5; }

.visas > div article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0px 30px 20px 30px; }
  .visas > div article div p {
    margin-top: 20px; }
  .visas > div article div img {
    border-radius: 10%;
    width: 400px;
    height: 220px; }

.visas > div article h3 {
  display: block;
  text-align: center;
  background-color: #307672;
  color: white; }

.tituloComunidad {
  font-size: 30px;
  margin-bottom: 20px;
  color: #1a3c40;
  text-align: center;
  font-weight: bold; }

.comunidad {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.formulario {
  background-color: #d5dad0;
  border: solid 2px black;
  padding: 15px;
  margin-left: 5px;
  margin-bottom: 5px; }

.boton {
  background-color: #144d53;
  color: white;
  font-size: bold;
  padding: 5px;
  border-radius: 15%; }

.experiencias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .experiencias div h2 {
    background-color: #144d53;
    color: white;
    text-align: center; }
  .experiencias div div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    .experiencias div div iframe {
      margin: 20px;
      border-radius: 10%; }

.grid-comunidad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "titulo titulo titulo" "div div div" "div div div";
  width: 100%; }
  .grid-comunidad h2 {
    grid-area: titulo; }
  .grid-comunidad div img {
    grid-area: div;
    border-radius: 10%;
    width: 200px;
    height: 150px;
    margin: 10px; }

.sitiosTitulo {
  background-color: #144d53; }

.trabajo-gastronomia {
  background-color: #67a5a1; }

.trabajo-hosteleria {
  background-color: #bec9be; }

.trabajo-trabajorural {
  background-color: #bec9be; }

.trabajo-sistemas {
  background-color: #67a5a1; }

.introduccionTrabajos {
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center; }

.introduccionDestinos, .ciudadesParaConocer {
  font-size: 25px;
  font-weight: bold;
  color: #144d53; }

.ciudadesParaConocer {
  color: white; }
